body{
    background-image: url('https://i.pinimg.com/1200x/69/fc/9f/69fc9f990c838815e17072c96a1c4366.jpg');
    background-size: 1300px;
    font-family:Arial, sans-serif;
    text-align:center;
    padding:40px;
}

h1{
    color:#27F5F5;
}
p{ color:#27F5F5;}

button{
    padding:10px 20px;
    margin:10px;
    border:none;
    border-radius:10px;
    background:#27F5F5;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#ff1f6b;
}

/* ---------- Journal Page ---------- */

.journal-page{
    background: linear-gradient(#fff8f2, #ffe8ef);
    font-family: "Georgia", serif;
    text-align: center;
    padding: 40px;
}

.journal-page h1{
    color: #a14d6a;
    font-size: 42px;
}

.journal-page p{
    color:#5a4a52;
    font-size:18px;
}

.journal-page textarea{

    width:70%;
    max-width:800px;
    height:420px;

    padding:25px;

    font-size:18px;

    line-height:1.8;

    border:none;

    border-radius:18px;

    background:#fffefc;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    resize:none;
}

.journal-page button{

    margin-top:20px;

    padding:14px 28px;

    border:none;

    border-radius:15px;

    background:#d66c93;

    color:white;

    font-size:16px;

    cursor:pointer;
}

.journal-page button:hover{

    background:#bf537d;

}

.journal-layout{

    display:flex;

    height:100vh;

}

/* Sidebar */

.archive-sidebar{

    width:260px;

    background:#fff6f8;

    border-right:2px solid #f2dce4;

    padding:25px;

    overflow-y:auto;

}

.archive-sidebar h2{

    text-align:center;

    margin-bottom:20px;

}

#newEntryBtn{

    width:100%;

    margin-bottom:20px;

}

/* Archive Buttons */

.archive-item{

    width:100%;

    text-align:left;

    margin-bottom:10px;

    padding:12px;

    background:white;

    border:none;

    border-radius:12px;

    cursor:pointer;

    transition:.2s;
}

.archive-item:hover{

    transform:translateX(5px);

    background:#ffe4ee;

}

/* Main Journal */

.journal-main{

    flex:1;

    padding:40px;

}

#journal{

    width:100%;

    height:500px;

}

.archive-item{

    width:100%;

    padding:12px;

    margin-bottom:10px;

    border:none;

    border-radius:12px;

    text-align:left;

    background:white;

    cursor:pointer;

    transition:0.2s;

}

.archive-item:hover{

    background:#ffe4ef;

}

.archive-item.selected{

    background:#ffb8d2;

    border-left:5px solid hotpink;

}

.archive-item strong{

    display:block;

    margin-bottom:5px;

}

.archive-item small{

    color:gray;

}